In [6]:
import boto3
import pandas as pd
import numpy as np

# Defining the s3 bucket
s3 = boto3.resource('s3')
bucket_name = 'gabrielferreira-data-455-bucket'
bucket = s3.Bucket(bucket_name)

# Defining the file to be read from s3 bucket
file_key = "Real_Estate.csv"

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

# Reading the csv file
house_price = pd.read_csv(file_content_stream)
house_price.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [7]:
## Dropping No and transaction_date
house_price = house_price.drop(columns = ['No', 'transaction_date'], axis = 1)
house_price.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [13]:
from sklearn.model_selection import train_test_split

# Defining input and target variable
X = house_price.drop(columns = ['house_price_of_unit_area'], axis = 1)
Y = house_price['house_price_of_unit_area']

# Splitting the data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

# Building the linear model
from sklearn.linear_model import LinearRegression

lm_md = LinearRegression().fit(X_train, Y_train)
lm_md.coef_

array([-2.43274689e-01, -4.23183539e-03,  1.06239566e+00,  2.17381485e+02,
       -7.46435922e+00])

In [14]:
lm_md.intercept_

-4477.955835882367

In [16]:
# Predicting on test 
preds = lm_md.predict(X_test)
preds

array([46.95915403, 44.92855428, 51.38154477, 42.16542343, 29.9587169 ,
       41.78490626, 48.72937963, 45.20085949, 43.70597934, 16.29564039,
       31.21315343, 47.20566532, 47.93411014, 43.85809727, 34.56570781,
       45.34154664, 46.30610881, 32.81566197, 32.88999235, 32.0564652 ,
       41.87331126, 45.6502738 , 31.26180837, 30.59994474, 33.05427852,
       32.83453572, 42.35798097, 40.54112382, 32.10630558, 41.48466992,
       32.47973022, 46.30610881, 30.07278977, 35.55268987, 28.71703304,
       41.80032886, 49.040107  , 42.8732178 , 51.3572173 , 48.23124933,
       37.71161138, 45.02586416, 29.91006196, 46.50072856, 40.36405682,
       31.28613584, 45.34154664, 36.68815503, 36.16454049, 25.87498352,
       30.44290567, 38.62049647, 33.80304901, 36.82060748, 41.80032886,
       43.49600372, 45.19173047, 25.86190631, 49.55920167, 40.52443448,
       49.55920167, 42.59247894, 39.15085215, 31.7417166 , 32.59927091,
       38.22231512, 36.71267413, 34.67157643, 33.09675746, 43.83206136,
       40.96804014, 43.06944524, 31.38344571, 32.50405769, 33.40331986,
       30.35667005, 39.88346214, 47.1899589 , 47.98276508, 34.18693039,
       49.55920167,  9.1873777 , 47.3029752 ])

In [18]:
# Computing the mse (mean square error) Obs.: it compares predicted values to real values
mse = np.mean(np.power(preds - Y_test, 2))
mse

# mse preferred smallest as possible. Obs.: only one value of mse is not very usefull because you won't be able to compare to ohers.

89.26914042566234